@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
@import url(https://fonts.googleapis.com/css?family=Poppins);
@charset "UTF-8";

body {
  background-color: #f8fafc;
}

.App {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-family: "Nunito Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #2D383F;
  justify-items: center;
  align-items: center;
  display : flex;
  flex-direction: column;
  background-color: #f8fafc;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.logged-in {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
}

.user-profile {
  background-color: #999;
  flex: 1 0;
  display : flex;
  min-height: 600px;
}


.map-container {
  background-color: #777;
}

.map-container div.map{
  max-height: 50%;
  max-width: 50%;
  flex: 0 1;
}